{% extends "lesson_1/base.html" %}
{% load static %}
{% block content %}



<!--блок контент - Лицензии-->
<div class="baground">
    <div class="licences_detail_container _container">

        <div class="name_Licence_block">
            <div class="name_sec_part licences_name">
                СТРАНИЦА ЛИЦЕНЗИЙ В КРУПНОМ ВИДЕ ИЛИ НАХУЯ???
            </div>
        </div>

        <div class="licences_text_item">
            <div class="text_item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aspernatur assumenda consequatur corporis dolore dolorum,
                ea est exercitationem expedita, iure minus necessitatibus
                non porro quam reiciendis tempora unde. Adipisci, quasi.

            </div>

        </div>
    </div>
</div>

{% endblock content %}

