<!--блок футер-->
{% load static %}

<footer class="footer">
    <div class="mave_container">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </div>
    <div class="footer_main_container">
        <div class="contacts_container_footer">
            <div class="contacts_card_footer ">
                <div class="contacts">
                    <div class="name_footer">
                        <div class="name_tx ">ДЕ</div>
                        <div class="de_color name_tx">МАЙНЕР</div>
                    </div>
                    <div class="contacts_txt_f">
                        <div class="left">
                            <div class="contacts_txt_items">
                                <div class="contacts_item_logo_footer">
                                    <img class="icon_footer" src="{% static 'lesson_1/img/phone.png' %}" alt="">
                                </div>
                                <div class="contact_item_content_footer">
                                    (812) 642-05-40
                                </div>
                            </div>
                            <div class="contacts_txt_items">
                                <div class="contacts_item_logo_footer">
                                    <img class="icon_footer" src="{% static 'lesson_1/img/mail.png' %}" alt="">
                                </div>
                                <div class="contact_item_content_footer">
                                    info@deminer.ru
                                </div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="contacts_txt_items">
                                <div class="contacts_item_logo_footer">
                                    <img class="icon_footer" src="{% static 'lesson_1/img/location.png' %}" alt="">
                                </div>
                                <div class="contact_item_content_footer">
                                    Россия, Санкт-Петербург,
                                    ул. Афанасьевская, д.1, лит. А, пом. 17Н
                                </div>
                            </div>
                            <div class="contacts_txt_items">
                                <div class="contacts_item_logo_footer">
                                    <img class="icon_footer" src="{% static 'lesson_1/img/metro.png' %}" alt="">
                                </div>
                                <div class="contact_item_content_footer">
                                    удельная
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>