{% load static %}
<header class="head">

    <div id="www" class="head_items _container">
        <a class="logo_name _head_items" href="{% url 'main' %}">
            <div class="name_tx">ДЕ</div>
            <div class="name_tx de_color ">МАЙНЕР</div>
        </a>

        <div class="menu_items ">

            <div class="collect haedLinkMenu">
                <div class="_head_items">
                    <div class="icon_head">
                        <img class="icon" src="{% static 'lesson_1/img/technical-support.png' %}" alt="">
                    </div>
                    <a class="numb_tx scrollto" href="/#serv">
                        Услуги
                    </a>
                    <div class="openMenuarrow">
                        <img class="Menuarrow" src="{% static 'lesson_1/img/iconmenu.png' %}" alt="">
                    </div>
                </div>
                <div class="linkMenu_items">
                    <a class="menu__item scrollto" href="/Demining/">РАЗМИНИРОВАНИЕ</a>
                    <a class="menu__item scrollto" href="/Imploding_work/#item_1">БУРОВЗРЫВНЫЕ РАБОТЫ</a>
                    <a class="menu__item scrollto" href="/Imploding_work/#item_2">СНОС СООРУЖЕНИЙ</a>
                    <a class="menu__item scrollto" href="/Imploding_work/#item_3">БЕЗВЗРЫВНОЕ РАЗРУШЕНИЕ</a>
                    <a class="menu__item scrollto" href="/Imploding_work/#item_4">ПРОЕКТИРОВАНИЕ БВР</a>

                </div>
            </div>
            <div class="haedLinkMenu _head_items">
                <div class="icon_head">
                    <img class="icon" src="{% static 'lesson_1/img/certificate.png' %}" alt="">
                </div>
                <a class="numb_tx scrollto" href="/#lice">
                    Лицензии
                </a>
            </div>
            <div class="haedLinkMenu _head_items">
                <div class="icon_head">
                    <img class="icon" src="{% static 'lesson_1/img/phone.png' %}" alt="">
                </div>
                <a class="numb_tx scrollto" href="/#cntc">
                    Контакты
                </a>
            </div>
            <div class="collect haedLinkMenu">
                <div class="_head_items">
                    <div class="icon_head">
                        <img class="icon" src="{% static 'lesson_1/img/information.png' %}" alt="">
                    </div>
                    <a class="numb_tx scrollto" href="/#ab_t">
                        О нас
                    </a>
                    <div class="openMenuarrow">
                        <img class="Menuarrow" src="{% static 'lesson_1/img/iconmenu.png' %}" alt="">
                    </div>
                </div>
                <div class="linkMenu_items">
                    <a class="menu__item scrollto" href="/Equipment/">НАШЕ ОБОРУДОВАНИЕ</a>
                    <a class="menu__item scrollto" href="/About_us/#expiriens">НАШ ОПЫТ</a>
                    <a class="menu__item scrollto" href="/Gallery/">ПРОДЕЛАННЫЕ РАБОТЫ</a>
                    <a class="menu__item scrollto" href="/About_us/#standarts">СООТВЕТСВИЕ СТАНДАРТАМ</a>
                    <a class="menu__item scrollto" href="/Clients/">ЗАКАЗЧИКИ</a>
                    <a class="menu__item scrollto" href="/Vacancies/">ВАКАНСИИ</a>

                </div>
            </div>


        </div>

        <div class="tel _head_items">
            <div class="numb numb_tx">
                (812) 642-05-40
            </div>
        </div>
    </div>
</header>